/*Jedyne co cię interesuje to to*/ 
:root {
    --navbarBgColor:#ab5907;
/* jeśli chcesz zmienić to wpisz wartość tutaj i odkomentuj poniżej"*/
    --navLinkColor:#;  
    --navLinkActiveColor:# ;
}
nav a {
    /*color:var(--navlinkcolor) !important*/
       }
nav a .active {
   /* color:var(--navlinkcolor) !important*/
}

