/*tu nic dla ciebie nie ma*/

header,nav > span,nav,nav >div {
    padding:0px !important;
    margin:0px !important;         
}

nav {
 background-color:var(--navbarBgColor); 
 padding:1%;
}

.container, .articles {
 margin-top:1.5%;
}

h3 {
 font-size:1.5rem;
}

.stats h2 {
    font-size:7vh;
}
.stats h3 {
    font-size:5vh;
    font-weight: bolder;
}
.stats {
    margin-top:1%;
 border-top: dashed gray;
 border-bottom: dashed gray;
}